<div class="main-banner">
    <div class="bg-item"></div>
    <div class="bg-item"></div>
    <div class="bg-item"></div>
    <div class="dimmed">
        <div class="content-layout">
        <div class="description">
            <span class="text">동네 개발자를 찾습니다</span>
            <p class="text">
            우리동네 개발자여,<br>
            로고스토리로 오라!
            </p>
            <a href="https://www.facebook.com/groups/logostory" target="_facebook" role="button">Facebook</a>
            <a href="https://www.github.com/logostory" target="_github" role="button">Github</a>
            <a href="https://logostory.slack.com" target="_Slack" role="button">Slack</a>
            <a href="https://www.messenger.com/t/1985050988184176" target="_messenger" role="button">Messenger</a>

        </div>
        </div>
    </div>
</div>