---
---
@import "main";

.site-title .site-logo {
    background-size: 100%;
    width: 120px;
    margin-right: 30px;
}

/*Fb Comments Width Fix*/
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
    max-width: 100% !important;
    width: 100% !important;
}

.row {clear: both; overflow: auto;}
.col-6 {padding: 5px 0;}
.col-6 h3 {margin: 0;}


.site-title .site-logo {
    background: url(../img/logo.jpg) no-repeat center center;
    background-size: 100% 100%;
    height: 65px;
}

@media (min-width: 768px) {
    .col-6 {
        width: 50%;
        float: left;
    }
}
